@charset "UTF-8";
 
*{
  padding: 0px;
  margin: 0px;
}

body {
    font-size: 15pt;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

p {
  width: 85vw;
  background-color: floralwhite;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}